.widget-text-box-search {
    padding-bottom: 5px;
    .search-bar {
        position: relative;

        .btn-transparent {
            border: none;
        }

        input {
            display: inline-block;
            padding-left: 10px;
        }

        button {
            position: absolute;
            right: 6px;
            top: 8px;
            border-radius: 15px;
            height: 22px;
            width: 22px;
            font-size: 9px;
            color: #818080;
        }
    }

    .search-bar > span {
        left: 10px;
        position: absolute;
        top: 9px;
    }
}
