// Target headersort's css such that when its contained in a table or grid. the padding is 0 15px, but when in a layout grid padding is.
.widget-header-sort {
    .sort-header {
        display:flex;
        align-items:center;
        border-color: #D7D7D7;
        border-top-width: 0;
        border-right: 0;
        border-bottom-width: 1px;
        border-left: 0;
        background-color: transparent;
        justify-content:space-between;
        cursor: pointer;
        font-weight: bold;
        text-align: left;
        padding: 15px 0;
    }

    .asc::after {
        content:"\25B2"
    }

    .desc::after {
        content:"\25BC"
    }
}
